.login {
  @include flex(center, center);
  margin-top: calc(#{$header-height} * -1);
  height: 700px;
  background-image: url("../../assets/images/background/mainbg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 20px;
  background-position: center;
  @include tablet {
    margin-top: 0;
  }
  @include mobile {
    background-image: none;
    height: 100%;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 700px;
    height: 400px;
    padding: 30px 50px;
    border-radius: 20px;
    @include tablet {
      width: 50%;
    }
    @include mobile {
      width: 100%;
      border: solid 1px black;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
  }
  &__content {
    margin-top: 20px;

    form {
      @include flex(center, center);
      flex-direction: column;
    }
  }
  &__redirect {
    margin-top: 10px;
    font-weight: 600;
    &:hover {
      color: $main-color;
    }
  }
  &__sign {
    cursor: pointer;
    &__phone {
      position: relative;
      @include flex(center, center);
      border: 1px solid black;
      border-radius: 50px;
      padding: 10px 20px;
      margin: 20px 0;
      font-weight: 600;
      &__icon {
        position: absolute;
        top: 19%;
        left: 14px;
        color: black;
        font-size: 22px;
      }
    }

    img {
      width: 22px;
      height: 22px;
      justify-content: flex-start;
    }
    &__gg {
      position: relative;
      @include flex(center, center);
      border: 1px solid black;
      border-radius: 50px;
      padding: 10px 20px;
      margin: 20px 0;
      font-weight: 600;
      &__icon {
        position: absolute;
        top: 19%;
        left: 14px;
        font-size: 22px;
      }
    }
    &__fb {
      position: relative;
      @include flex(center, center);
      border: 1px solid black;
      border-radius: 50px;
      padding: 10px 20px;
      margin: 20px 0;
      font-weight: 600;
      &__icon {
        position: absolute;
        top: 9%;
        left: 12px;
        font-size: 27px;
        color: blue;
      }
    }
    :hover {
      background-color: $hover-bg-color;
    }
  }
  &__account {
    font-weight: 600;

    span {
      margin-top: 10px;
    }
  }
}
